@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Apply the font family to your elements */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #006400;
    font-size: 14px;
}

#calendar {
  max-width: 1100px;
  background-color: aqua;
  margin: 40px auto;
}

.App {
	text-align: center;
}